body {
	background-color: var(--background-color);
}

.sidebar-container {
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.container {
	flex: 1;

	padding: 10px;
}

.sidebar > form {
	height: 100vh;
	display: flex;
	flex-direction: column;
/*	background-color: var(--secondary-background-color);*/
	padding-right: 25px;
}

.sidebar > form > input {
	margin-top: 25px;
	padding: 15px;
	padding-right: 100px;
}

.sidebar-button {
	color: var(--primary-text-color);
	background-color: var(--primary-color);
	border: 0;
}
