body {
	background-color: var(--background-color);
}

.container {
	display: flex;
	align-content: center;
	padding: 10px;
	justify-content: center;
}

table {
	border-color: var(--secondary-color);
	border-style: outset;
	border-width: 1px;
	flex: 1;
}

thead {
	text-align: center;
	color: var(--secondary-color);
	background-color: var(--primary-color);
} 

thead > tr {
}

thead > td {
}

tbody > tr > td {
	border-right-style: outset;
	border-right-color: var(--secondary-color);
	border-right-width: 1px;
}

tbody > tr > td:first-child {text-align: center;}
tbody > tr > td{
	color: var(--secondary-color);
}

tbody > tr > td > form > input {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border-color: var(--secondary-color);
	border-width: 1px;
	width: 100%;
}
