body {
	color: var(--secondary-color);
	background-color: var(--background-color);
}

table {
	border-color: var(--secondary-color);
	border-style: outset;
	border-width: 1px;
/*	flex: 1;*/
}

thead {
	text-align: center;
	background-color: var(--primary-color);
} 

tbody > tr > td {
	text-align: center;
	border-right-style: outset;
	border-right-color: var(--secondary-color);
	border-right-width: 1px;
}
tbody > tr > td:last-child{border: 0;}

.button {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border-color: var(--secondary-color);
	border-width: 1px;
	width: 100%;
}

.input-text {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border-color: var(--secondary-color);
	border-width: 1px;
}
