body {
	background-color: var(--background-color);
}

.container {
	display: flex;
	align-content: center;
	padding: 10px;
	justify-content: center;
}

.container > form > input {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border-color: var(--secondary-color);
	border-width: 1px;
/*	width: 100%;*/
}

