body {
	background-color: var(--background-color);
}

.sidebar-container {
	display: flex;
	flex-direction: row;
	background-color: blue;
}

.container {
	display: flex;
	align-content: center;
	padding: 10px;
	justify-content: center;
}

.sidebar {
	background-color: green;
}

.sidebar > form {
	display: flex;
	flex-direction: column;
	background-color: yellow;
	padding-right: 25px;
}

.sidebar > form > input {
	margin-top: 25px;
	padding: 15px;
	padding-right: 100px;
}

input {
	color: var(--secondary-color);
	background-color: var(--primary-color);
/*	border-color: var(--secondary-color);*/
	border-width: 1px;
}
