body {
	background-color: var(--background-color);
}

.user {
	display: flex;
	align-content: center;
	justify-content: center;
}

table {
	color: var(--secondary-text-color);
	border-color: var(--secondary-color);
	border-style: outset;
	border-width: 1px;
}

thead {
	color: var(--primary-text-color);
	text-align: center;
	background-color: var(--primary-color);
} 

tbody > tr > td {
	text-align: center;
	border-right-style: outset;
	border-right-color: var(--secondary-color);
	border-right-width: 1px;
}
tbody > tr > td:last-child{border: 0;}

.button {
	background-color: var(--accent-success-color);
	width: 100%;
	padding: 5px;
	color: white;
	border: 0;
	border-radius: 0;
}

.alert {
	background-color: var(--accent-alert-color);
}

.input-text {
	color: var(--input-text-color);
	border-color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	border-width: 1px;
}
