.users {
	display: flex;
}

table {
	flex: 1;
	border-color: var(--secondary-color);
	border-style: outset;
	border-width: 1px;
}

thead {
	text-align: center;
	color: var(--primary-text-color);
	background-color: var(--primary-color);
} 

tbody > tr > td {
	border-right-style: outset;
	border-right-color: var(--secondary-color);
	border-right-width: 1px;
	color: var(--secondary-text-color);
}

.button {
	color: var(--primary-text-color);
	background-color: var(--accent-color);
	border-color: var(--secondary-color);
	border-width: 1px;
	border-radius: 0;
	width: 100%;
}

.alert {
	background-color: var(--accent-alert-color);
}
